<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Clink here to active your account: <a href="http://localhost:3000/users/<%= @user.id %>/confirm/<%= @user.confirmation_code %>">Active your account</a>
    </p>
  </body>
</html>