<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Clink here to active your account: <%= link_to "Active your account", active_account_url(@user.id,@user.confirmation_code) %>
    </p>
  </body>
</html>