%h1.main-title
  data-snippet.io

%p.intro
  data-snippet.io hosts snippets of information that can be included in any website. The snippets can be edited separately from the page where they live, be included on more or one pages and does not rely on any particular technology. Integration happens in the browser. Wherever there is Internet, there is <strong>data-snippet.io</strong>!

%a{ href: '/data-snippet.js.zip' }
  This is where thou downloadst the file.

.diagram

.code-view



