.main-intro
  %h1 data-snippet.io
  %p
    data-snippet.io is for people who do not want a CMS, but still wants the ability to edit content on the web. data-snippet.io can be matched with any content management system and technology as long as the users of the site has access to the internets. Wherever there are internets, there is data-snippet.io. Yay.
  %h2 Include snippet anywhere
  .centered-image
    =image_tag "first/snips1.png", class: "chart"
  You can include your snippet on any site as long as the users of the site can access the Internet. You can include your snippet any number of sites.
  %h2 Edit once, replicates all over
  .centered-image
    =image_tag "first/snips2.png", class: "chart"
  Edit your snippet in-place anywhere and changes take effect immediately and automagically across all pages where you use it. If you are not sure about a change, save your snippet in preview mode and check it out before committing to a change.

.main-body
  .row
    %h1 How do I use it?
    We know that using the internets is a difficult thing, but thankfully data-snippet.io is easier to use than a pancake. 

    %h2 Step-by-step
    %ul
      %li Create an account here
      %li Create a snippet
      %li Find the newly created snippet under "my personal snippets", click it and find its ID.
      %li Add the <b>data-snippet</b> attribute to the tag where you want the snippet included, and specify the ID as the attribute value. For example, if you want to include the snippet in a particular div and your snippet ID is 1337, add <b>data-snippet="1337"</b> to your div. Done.
    
    %h2 Code example
    Say that you have the following code:
    .demo-box-code
      &lt;div&gt;(this text is a placeholder)&lt;/div&gt;
    This would be displayed as:
    .demo-box-result
      (this text is a placeholder)

    Now, let's say you add <b>data-snippet="6"</b> to that div:
    .demo-box-code
      &lt;div data-snippet="6"&gt;(this text is a placeholder)&lt;/div&gt;
    then when the page loads, you would see:
    .demo-box-result{ 'data-snippet': 6 }
      (this text is a placeholder)
    As you can see, the placeholder text is replaced when the snippet loads.
