<div class="container">
  <div>
    <div class="jumbotron">
      <h1>data-snippet.io</h1>
      <p data-snippet="5">...</p>
    </div>
    <div class="row">
      <h1>What is data-snippet ?</h1>
      <div>
        <div class="col-md-6">
          <div class="demo-box-code">
            <pre>
&lt;html&gt;
  &lt;head&gt;
    &lt;script src="http://yoursite.com/data-snippet.js"&gt;&lt;/script&gt;
    ...
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p data-snippet="6"&gt;(this text is a placeholder)&lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
            </pre>
          </div>
        </div>
        <div class="col-md-6" style="margin-top: 5em">
          <div class="demo-box-result">
            <p data-snippet="6">(this text is a placeholder)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
