.groups-list{'data-bind': 'with: groupsListView'}
  .groups-header
    Groups groups yay
  %ul{'data-bind': 'foreach: groups'}
    %li{'data-bind': 'text: name'}


%script{ type: 'text/javascript' }
  ko.applyBindings(window.views.userHomeView);