<div class="main-intro">
  <h1>data-snippet.io</h1>
  <p>data-snippet.io is for people who do not want a CMS, but still wants the ability to edit content on the web. data-snippet.io can be matched with any content management system and technology as long as the users of the site has access to the internets. Wherever there are internets, there is data-snippet.io. Yay.</p>
  <h2>Include snippet anywhere</h2>
  <div style="text-align: center">
    <%= image_tag "first/snips1.png", class: "chart" %>
  </div>
  <br/>
  You can include your snippet on any site as long as the users of the site can access the Internet. You can include your snippet any number of sites.
  <h2>Edit once, replicates all over</h2>
  <div style="text-align: center">
    <%= image_tag "first/snips2.png", class: "chart" %>
  </div>
  <br/>
  Edit your snippet in-place anywhere and changes take effect immediately and automagically across all pages where you use it. If you are not sure about a change, save your snippet in preview mode and check it out before committing to a change.
</div>
<div class="main-body">
    <div class="row">
      <h1>What is data-snippet ?</h1>
      <h2>Code example</h2>
      <div class="demo-box-code">
        <div class="col-md-6 box-1">  
          <pre>
&lt;html&gt;
  &lt;head&gt;
    ...
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p &gt;First paragraph&lt;/p&gt;
    &lt;p &gt;(this text is a placeholder)&lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
          </pre>
        </div>
        <div class="col-md-6 box-2">
          <pre>
&lt;html&gt;
  &lt;head&gt;
    &lt;script src="http://www.data-snippet.io/data-snippet.js"&gt;&lt;/script&gt;
    ...
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p &gt;First paragraph&lt;/p&gt;
    &lt;p data-snippet="6"&gt;(this text is a placeholder)&lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
          </pre>
        </div>
      </div>
      <h2>Results</h2>
      <div class="demo-box-result">
        <div class="col-md-6 result-box-1">
          <pre class='result'>
            <p class='result-text'>First paragraph</p>
            <p class='result-text'>(this text is a placeholder)</p>
          </pre>
        </div>
        <div class="col-md-6 result-box-2">
          <pre class='result'>
            <p class='result-text'>First paragraph</p>
            <p data-snippet="6" class='result-text'>(this text is a placeholder)</p>
          </pre>
        </div>
      </div>
    </div>
</div>
  
