.content-container {
  margin-top :100px;
}

.result-text {
  padding-left: 10px;
}

.result {
  background-color:#8AA1FC;
  vertical-align: middle;
  margin-bottom: 10em;
}

.demo-box-code, .demo-box-result {
  //background-color:#eeeeee;
  vertical-align: middle;
  padding: 5px 10px;
}

h1,h2,h3,h4,h5 {
  font-family: 'Titillium Web', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 30px;
  margin-bottom: 1em;
}

table, th, td {
  margin-top: 70px;
}

th,td {
  padding: 15px;
}

a {
  font-size: 20px;
}

ul {
  padding: 0;
  margin: 0;
}