.content-container {
  margin-top :70px;
}

.jumbotron {
  margin-top: 70px;
}

.show-box {
  border: 1px solid;
  padding:0;
}

.demo-box-caption {
  height: 100px;
  border-top: 1px solid;
  background-color:rgb(252, 214, 138);
  vertical-align: middle;
}

.demo-box-code {
  height: 60px;
  background-color:#eeeeee;
  vertical-align: middle;
}

.demo-box-result {
  height: 60px;
  background-color:#eeeeee;
  vertical-align: middle;
}

