@import 'colors';
@import 'sizes';

.groups-list {
  position: absolute;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #f0f0aa;
  ul {
    padding: 20px 0;
    list-style-type: none;
    li {
      padding: 10px 20px;
    }
  }
  .groups-header {
    padding: 10px 20px;
    font-weight: 500;
  }
}